<div class="container">
    <div class="row">
        <div class="col s2">
            Buttons
        </div>

        <div class="col s2">
            <button mz-button>
          button
        </button>
        </div>



        <div class="col s2">
            <a class="waves-effect waves-light btn">button</a>
            <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
            <a class="waves-effect waves-light btn">button<i class="material-icons right">cloud</i></a>

        </div>

        <div class="col s2">

            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
    </div>

    <div class="row">

        <div class="col s2">
            Large Buttons
        </div>

        <div class="col s2">
            <a class="waves-effect waves-light btn-large">Button</a>
            <a class="waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>button</a>
            <a class="waves-effect waves-light btn-large"><i class="material-icons right">cloud</i>button</a>

        </div>

        <div class="col s2">
            <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>

    </div>

    <div class="row">

        <div class="col s2">
            Small Buttons
        </div>

        <div class="col s2">
            <a class="waves-effect waves-light btn-small">Button</a>
            <a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>button</a>
            <a class="waves-effect waves-light btn-small"><i class="material-icons right">cloud</i>button</a>

        </div>

    </div>

</div>